<template name="gallery">
  <div id="masonry" class="container-fluid">
      <div class="thumbnail">
          <div class="imgs">
              <img src="/images/1.jpg" />
          </div>
          <div class="caption">
              <div class="title">Hello Thumbnail</div>
              <div class="content">

              </div>
          </div>
      </div>
      <div class="thumbnail">
          <div class="imgs">
              <img src="/images/2.jpg" />
          </div>
          <div class="caption">
              <div class="title">Hello Thumbnail</div>
              <div class="content">

              </div>
          </div>
      </div>
      <div class="thumbnail">
          <div class="imgs">
              <img src="/images/3.jpg" />
          </div>
          <div class="caption">
              <div class="title">Hello Thumbnail</div>
              <div class="content">

              </div>
          </div>
      </div>
      <div class="thumbnail">
          <div class="imgs">
              <img src="/images/4.jpg" />
          </div>
          <div class="caption">
              <div class="title">Hello Thumbnail</div>
              <div class="content">

              </div>
          </div>
      </div>
      <div class="thumbnail">
          <div class="imgs">
              <img src="/images/5.jpg" />
          </div>
          <div class="caption">
              <div class="title">Hello Thumbnail</div>
              <div class="content">

              </div>
          </div>
      </div>

  </div>
</template>
