<template name="gallery">
  <div id="masonry" class="container-fluid">
    {{#each photos}}
      <div class="thumbnail">
          <div class="imgs">
              <img src="{{src}}" />
          </div>
          <div class="caption">
              <div class="title">{{title}}</div>
              <div class="content"></div>
              <div class="author">
                by <a target="_blank" href="">{{team}}</a>
              </div>
          </div>
      </div>
   {{/each}}
  </div>
</template>
