<template name="selector">
  <div class="container">
    <form>
      <div class="form-group">
        <select class="form-control">
          <option value="">All Sources</option>
          <option value="data-science">Data Science</option>
          <option value="machine-learning">- Machine Learing</option>
          <option value="full-stack">Full Stack</option>
          <option value="frontend">- Frontend</option>
          <option value="backend">- Backend</option>
        </select>
      </div>
    </form>
  </div>
</template>
